@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .kH1 {
    @apply text-2xl
    tracking-wider
    font-bold;
  }
  .kH2 {
    @apply text-lg
    tracking-wide
    font-bold;
  }
  .btn-solid {
    @apply py-2 px-3
    bg-kL 
    font-bold
    text-sm
    rounded-lg border border-kL shadow-md 
    transition ease-in-out 
    hover:bg-kD 
    hover:border-none 
    hover:scale-[1.2] duration-300;
    md: text-lg;
  }
  .btn-transparent {
    @apply py-2 px-3 
    bg-white 
    font-bold
    text-sm
    rounded-lg border border-kL shadow-md
    transition ease-in-out
    hover:bg-kD 
    hover:scale-[1.2] duration-300;
  }
  .mobil-dropdown-ul {
    @apply absolute top-[150px] left-0
    w-screen h-screen py-2 px-4
    bg-kL bg-opacity-90;
  }

  .dropdown-ul {
    @apply absolute left-3/4 top-[99px]
    w-1/4 h-screen py-2 px-4
   
    bg-kL bg-opacity-90;
  }
  .mobil-dropdown-li {
    @apply py-2 my-2
    bg-white 
    rounded border border-kD
    text-center 
    hover:bg-kD
    hover:text-white;
  }
  .input {
    @apply w-full
    rounded-md border p-1.5 
    text-gray-900 
    placeholder-gray-500 shadow-sm 
    focus:ring-0 focus:ring-transparent;
  }
}
